
/NEWS_Cosine_Similarity/models
NEWS_Cosine_Similarity/Report/Cosine Similarity.aux
NEWS_Cosine_Similarity/Report/Cosine Similarity.log
NEWS_Cosine_Similarity/Report/Cosine Similarity.out
NEWS_Cosine_Similarity/Report/Cosine Similarity.synctex.gz
